.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time {
  color: black;
  font-size: 12px;
  justify-self: flex-start;
}
.button1 {
  justify-self: flex-end;
  background-color: transparent;
  border-color: transparent;
}
.logo_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
